body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #80bdc2;
}

.menu{
  display: flex;
  gap: 10px;
}

button{
  padding: 10px 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #202c38;
  border-radius: 3px;
  border: 1px solid #000000;
}

input{
  padding: 8px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid #000000;
}

.busca-container{
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 15px 0;
}

.busca-container input{
  width: 250px;
  display: flex;
  gap: 10px;
}

.botoes-busca{
  display: flex;
  gap: 10px;
  border-radius: 3px;
}